*{
    margin: 0;
    overflow-x: hidden;
}
.infund-nav-logo{
    display: block;
    margin-left: 25px;
}
nav.infund-nav, .infund-landing-nav{
    width: 100vw;
    height: 57px;
    position: fixed;
    z-index: 10;

    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
}
.infund-nav-inlanding{
    transform: translateY(-57px);
    transition: all .3s ease;
}
.infund-landing-nav{
    position: absolute;
    top: 10px;
    background: transparent;
    transform: translateY(0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}
.infund-landing-nav > a > img{
    padding-top: 5px;
}
.infund-nav-item-container{
    display: flex;
}
.infund-nav-item-container *{
    padding-left: 15px;
    padding-right: 15px;
}
.infund-nav-item-container *:nth-child(2){
    border-right: 1px solid black;
}
.infund-button{
    width: 90px;
    margin: auto;
    text-align: center;
    padding: 9px;
    background: #75c77d;
    border-radius: 16px;
    font-size: 14pt;
    color: white;
}
.infund-button:hover{
    cursor: pointer;
    background: #1B81E5;
}
.infund-logo-text{
    width: 180px;
    margin: auto;
    text-align: center;
    background: #75c77d;
    font-size: 38pt;
    color: white;
}
.infund-landing{
    width: 100vw;
    height: 100vh;

    position: relative;
}
.infund-landing-background{
    width: 100vw;
    height: 100vh;

    opacity: .3;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.infund-landing > div > *{
    margin-bottom: 20px;
}
.infund-landing-desc{
    position: absolute;
    top: calc((100vh / 2) - (143px / 2));
    left: calc((100vw / 2) - (120px / 2));
    z-index: 9;
}

.infund-nav-item-container > a{
    display: block;
    color: black;
    text-decoration: none;
}

.infund-nav-item-container > a:hover{
    color: black;
    text-decoration: underline;
}

.infund-how-to-card{
    margin: 10px;
    width: 240px;
    background: white;
    box-shadow: 0px 0px 13px 0px rgba(17, 17, 17, .5);
    border-radius: 6px;
    line-height: 16pt;

    padding: 15px;
    font-size: 12pt;
    text-align: center;

    cursor: pointer;
}
.infund-landing-page-desc{
    display: flex; 
    align-items: center; 
    padding: 20px;
}
.infund-landing-page-desc > div{
    margin: auto;
}
.infund-landing-page-desc > div > div{
    padding-top: 20px;
}
.infund-landing-page-desc > div > div > h1{
    text-align: center;
}
.infund-landing-page-desc > div > div > div{
    display: flex;
}

footer{
    background: #282828;
    color: white;
    padding: 15px;
}
footer > div{
    margin: auto;
}
footer > div > *{
    margin: 10px;
}